:root {
  --input-height: 49px;
  --input-inner-height: 47px;
  --input-large-height: 79px;
  --input-msg-height: 29px;
  --transition-time: 300ms;

  --animation: 1s linear springSlideUp forwards;
}

.sign-in-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  height: 100vh;
  width: calc(100% - 30px);
  margin: auto;
}

.sign-in-container {
  text-align: center;
  width: 100%;
  max-width: var(--input-width);
}

.main-logo {
  width: 100%;
  max-width: 258px;
  margin: auto;
  margin-bottom: 45px;

  opacity: 0;
  animation: var(--animation);
  animation-delay: 0.2s;
}

.input-wrapper.id {
  opacity: 0;
  animation: var(--animation);
  animation-delay: 0.33s;
}

.input-wrapper.pw {
  opacity: 0;
  animation: var(--animation);
  animation-delay: 0.46s;
}

.sign-in-btn {
  margin-top: 20px;

  opacity: 0;
  animation: var(--animation);
  animation-delay: 0.59s;
}

.join {
  font-size: 15px;
  margin-top: 30px;
  display: inline-block;

  opacity: 0;
  animation: var(--animation);
  animation-delay: 0.72s;
}

.join .icon {
  display: inline-block;
  transition: transform 200ms ease;
  font-weight: 700;
  font-size: 1em;
}

.join:hover .icon {
  transform: translateX(30%);
}

.github {
  display: inline-block;
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
  opacity: 0;

  opacity: 0;
  animation: var(--animation);
  animation-delay: 0.85s;
}
