:root {
  --input-width: 336px;
  --input-height: 49px;
  --input-inner-height: 47px;
  --input-large-height: 79px;
  --input-msg-height: 29px;
  --transition-time: 250ms;
}

.input-wrapper {
  display: flex;
  position: relative;

  width: 100%;
  max-width: var(--input-width);
  height: var(--input-height);

  margin-bottom: 15px;

  border: 1px solid var(--border-gray);
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);

  overflow: hidden;

  transition: height var(--transition-time) cubic-bezier(0.74, 0.02, 0.14, 1),
    margin var(--transition-time) cubic-bezier(0.74, 0.02, 0.14, 1),
    opacity var(--transition-time) ease,
    border-color var(--transition-time) ease,
    box-shadow var(--transition-time) ease, filter var(--transition-time) ease;
}

.input-wrapper.hidden {
  height: 0 !important;
  margin: 0 !important;
  opacity: 0 !important;
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 11px;
  right: 10px;
  width: 25px;
  height: 25px;
  font-size: 22px;
  color: var(--green);
}

.check .icon {
  opacity: 0;
}

.input-wrapper.valid-input .check .icon {
  animation: springZoomOut 0.6s linear forwards;
}

.input-wrapper.valid-input .input-icon {
  background-color: var(--light-green);
  color: var(--green);
}

.input-wrapper.invalid-input {
  height: var(--input-large-height);
  border-color: var(--red);
}

.input-wrapper.invalid-input .input-icon {
  border-color: var(--red);
  background-color: var(--pink);
  color: var(--red);
}

.input-wrapper.invalid-input .msg-field {
  border-color: var(--red);
  background-color: var(--pink);
}

.input-wrapper.invalid-input .msg-field {
  opacity: 1;
}

.input-wrapper.invalid-input .msg-text {
  color: var(--red);
}

.input-wrapper.disabled {
  box-shadow: none;
  filter: blur(2px);
  user-select: none;
  pointer-events: none;
}

.input-wrapper.msg-activated {
  height: var(--input-large-height);
}

.input-wrapper .input-icon {
  min-width: 51px;
  height: var(--input-inner-height);
  background-color: #fafbfc;
  border-right: 1px solid var(--border-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--gray);
  transition: color var(--transition-time) ease;
  user-select: none;
  pointer-events: none;
  cursor: default;
}

.input-wrapper .input-icon.code i {
  position: relative;
  left: 2px;
  bottom: 2px;
  font-size: 1.28em;
}

.input-wrapper .input-text {
  flex: 1;
  font-size: 16px;
  padding: 0 15px;
  padding-right: 40px;
  height: var(--input-inner-height);
  min-width: 0;
  background-color: #fff;
}

.input-wrapper .input-text::placeholder {
  color: var(--placeholder-gray);
}

.input-wrapper .msg-field {
  height: var(--input-msg-height);
  position: absolute;
  top: var(--input-inner-height);
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid var(--border-gray);
  opacity: 0;
  transition: opacity var(--transition-time) ease,
    border-color var(--transition-time) ease;

  display: flex;
  align-items: center;
  justify-content: center;
  padding
}

.input-wrapper.msg-activated .msg-field {
  opacity: 1;
}

.input-wrapper .msg-field .msg-text {
  text-align: center;
  font-size: 12px;
  line-height: 1;
}

.input-wrapper .action {
  cursor: pointer;

  height: var(--input-inner-height);

  min-width: 82px;

  border-left: 1px solid var(--border-gray);

  font-size: 14px;
  font-weight: 600;
  color: var(--placeholder-gray);
  background-color: #fff;

  transition: color var(--transition-time) ease,
    background-color var(--transition-time) ease;
}

.input-wrapper .action.activated {
  background-color: var(--light-blue);
  color: var(--blue);
}

.input-wrapper .action.activated:hover {
}

/* Checkbox */
:root {
  --checkbox-size: 23px;
  --indicator-size: 11px;
}

input[type='checkbox'] {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  border-radius: 5px;
  border: 1px solid var(--border-gray);
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

input[type='checkbox']::before {
  content: '';
  display: block;
  width: var(--indicator-size);
  height: var(--indicator-size);
  background: #32d0aa;
  border-radius: 3px;
  border: 1px solid #12b991;
  opacity: 0;
  transform: scale(0.7);
  transition: transform 120ms ease, opacity 120ms ease;
}

input[type='checkbox']:checked::before {
  opacity: 1;
  transform: scale(1);
}
